<h1>Complete el siguiente formulario.</h1>

<form action="action_page.php">
  <input type="text" name="first_name" placeholder="Nombre">
  <input type="text" name="last_name" placeholder="Apellido">
  <input type="email" name="email" placeholder="Gmail">
  <input type="submit" value="Listo">
</form>

<p>Puedes contactarnos para hacer pedidos o realizar reservas.</p>
            <p>Teléfono: 11-5892-5788</p>
            <p>Correo electrónico: Vallenmiragaya@gmail.com</p>
            <p>Dirección: Ñandubay 1313, Malvinas Argentinas, Argentina</p>
            <p>Horario de atención: Lunes a Domingo de 11:00 AM a 10:00 PM</p>
        </section>


 
