<h1>Dentro de Pizzeria "La Esquina", ofrecemos productos variados como por ejemplo:</h1>
<ul>
    <li>Diferentes tipos de pizzas, como Pepperoni, Muzzarella, Provolone, Hawaiana, etc.</li>
    <li>Guarniciones como Ensaladas, Alitas de pollo, Bastones de Muzzarella, Papas fritas.</li>
    <li>Gaseosas, agua, agua saborizada, Cerveza, vino y diferentes cocteles.</li>
    <li>Postres como helado, brownies, flan, budin de pan.</li>
    <li>Tarjetas de regalo de pizza o cocteles para amigos y familiares.</li>
</ul>





