 <section id="servicios">
        <h2>Nuestros Servicios</h2>
        <ul>
            <li>Amplia variedad de pizzas</li>
            <li>Ingredientes frescos y de calidad</li>
            <li>Opciones para llevar y entrega a domicilio</li>
            <li>Menú variado: entrantes, ensaladas y postres</li>
            <li>Personaliza tu pizza con tus ingredientes favoritos</li>
            <li>Promociones y ofertas especiales</li>
            <li>Servicio para eventos y fiestas</li>
            <li>Menú para niños</li>
            <li>Opciones sin gluten</li>
            <li>Reservas y pedidos en línea</li>
        </ul>
    </section>
